# Xcode
DerivedData/
*.xcworkspace/
*.xcuserstate
*.xcscmblueprint
!default.xcworkspace/

# User-specific Xcode settings
*.xcuserdatad/
*.xcuserstate
*.xcscmblueprint

# Build files
build/
*.app/
*.ipa/
*.dSYM/
*.xcarchive/
Breakpoints_v2.xcbkptlist
/Naqa.xcodeproj/xcuserdata/con-lalmasfer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
